/* GENERALES */

/***Fuentes***/

@font-face {
    font-family:"Raleway";
    src: url(..\fonts\Raleway\static\Raleway.ttf);
}

* {
    font-family: "Raleway";
}

/***Fin de fuentes***/

/***Títulos***/

.titulo-seccion {
    color: #313231;
    font-variant: small-caps;
    font-size:xx-large;
    font-weight: bolder;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 320px;
}

.titulo-seccion.signup, .titulo-seccion.login {
margin-left: 580px;
color: #5e5e5e;
}

/***Fin de Títulos***/

/***Subtítulos***/

.subtitulo-seccion {
    color: #313231;
    text-align: center;
    font-size: x-large;
    font-variant: small-caps;
    margin-top: 30px;
    margin-bottom: 20px;
}

/***Fin de subtítulos***/

/* FIN DE GENERALES */

/* HEADER */

.custom-header {
    background-color: #171616;
    border-bottom-style: solid;
    border-bottom-color: #9eab9e;
    border-width: 3px;
}

.custom-header .Logo {
    height: 100px;
    margin: 20px;
    padding-left: 20px;
}

.custom-header .navbar-toggler {
    color: white !important;
    border-color: white !important;
    border-width: 2px;
    margin-right: 30px;
}

.custom-header .nav-link, .custom-header .nav-link.active {
    color: white !important;
    font-size: larger;
    font-weight: 500;
    letter-spacing: 2px;
    align-items: center !important;
    justify-content: center !important;
    align-content: center;
    margin-left: 30x;
}

.custom-header .nav-link:hover, .custom-header .nav-link.active:hover {
    color: #dfd93a !important;
    border-bottom: 2px !important;
}

.carritoCompras {
    margin: 10px;
}

/* FIN DE HEADER */

/*ELEMENTOS COMUNES DEL MAIN*/

/***Banner***/

.banner {
    width: 100%;
    border-top-style: solid;
    border-top-color: #dee1dd;
    border-bottom-style: solid;
    border-bottom-color: #dee1dd;
    border-width: 3px;
    margin-top: 20px;
}

/***Fin de Banner***/

/*FIN DE ELEMENTOS COMUNES DEL MAIN*/

/*PÁGINA LOGIN*/

/***Formulario Login***/

.f-landing-page {
    margin-bottom: 50px;
    line-height: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 600px;
    border: solid 2px rgb(175, 175, 175);
}

.form {
    display: grid;
    place-items: center;
}

form div label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
}

form div input {
    margin-bottom: 10px;
}

.form-control {
    border: solid 1px rgb(175, 175, 175);
}

.checkbox {
    margin-top: 5px;
}

.boton-form {
    margin-top: 10px;
    margin-left: 185px;
    width: 180px;
    height: 50px;
    font-size: large;
    border: solid 3px rgb(214, 214, 214);
}

.boton-form.login {
    width: 200px;
    height: 50px;
    margin-left: 180px;
}

.boton-form.logout {
    margin-left: 870px;
    margin-top: -3900px;
    background-color: #b8b43e;
}

.boton-form.logout {
    margin-left: 570px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.b1.bis{
    width: 150px;
    margin-left: 200px;
}

.b2 {
    margin-left: 110px;
}

.leyenda-registro{
    font-size: large;
}

/***Fin de Formulario Login***/

/*FIN DE PÁGINA LOGIN*/

/* INDEX */

/***Carrusel***/

.slider {
    margin-top: 20px;
    border-top-style: solid;
    border-top-color: #dee1dd;
    border-bottom-style: solid;
    border-bottom-color: #dee1dd;
    border-width: 3px;
}

/***Fin de Carrusel***/

/***Botón Agregar***/

.button.agregar {
    border-radius: 10px;
    font-size: large;
}

.button.agregar:hover {
    color: #dfd93a; 
    background-color: #5e5e5e;
}

/***Fin de Botón Agregar***/

/***Carrito***/

.titulo-carrito {
    font-size: x-large;
    text-align: center;
}

.text-right {
font-size: larger;
}

.list-group-item {
    font-size: large;
    text-align: center;
    margin: 5px;
    padding: 20px;
}

#boton-vaciar {
    margin-left: 65px;
}

/***Fin de Carrito***/

/***Cards***/ 

.card {
    margin: 15px;
    border-radius: 30px;
    box-shadow:#333;
}

.card:hover {
    background-color: #dcdcdc;
}

.card-title {
    font-size: larger;
    text-align: center;
}

.img-fluid {
    border-radius: 25px;
    margin-bottom: 15px;
}

.card-text {
    font-size: larger;
    text-align: center;
}

.btn {
    margin-left: 30px;
    border: none;
}

.btn:hover {
    color: #dfd93a;
    background-color: #5e5e5e;
}

/***Fin de Cards***/

/* FIN DE INDEX */

/* FOOTER */

footer {
    background-color: #171616;
    margin-top: 50px;
    border-top-style: solid;
    border-top-color: #9eab9e;
    border-width: 3px;
}

footer .logo-footer {
    align-items: center;
    justify-content: center;
    margin-left: -5px;
    margin-bottom: 20px;
}

footer .enlace-footer {
    list-style-type: none;
    letter-spacing: 2px;
}

.enlace-footer:hover {
    color: #dfd93a !important;
}

footer ul p {
    letter-spacing: 2px;
}

ul li{
    list-style-type: none;
    text-decoration: none;
    font-size: large;
}

.logo-footer {
    height: 100px;
}

.copyright {
    font-size: larger;
}

.texto-footer {
    font-size: x-large;
}

/* FIN DE FOOTER */